.code{
    background-color: black;
    color:white;
    width:50%;
    
    font-family:'Courier New';
    border-radius:10px;
    padding-left:10px;  
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 240px;
    
}
.braces{
    color:yellow;
}
.property{
    color:pink;
}
.selector{
    color:limegreen;
}
.el{
    background:purple;
    color:white;
    font-family: 'Courier New';
    padding-left:5px;
    padding-right:5px;
    font-size:15px;
    border-radius:2px;
}
.el:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}